.book-list{
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: var(--main-clr); */
    
    
}

.book-list li{
    /* border: 1px solid black; */
    padding: 5px;
    width: 300px;
    margin-bottom:20px ;
    background-color:var(--main-clr-4) ;
    color: var(--main-clr-0);
    
}
