.book-list{
    gap:0 10px;
    flex-wrap: wrap;
    /* background-color: var(--main-clr); */
    
    
}

.book-list li{
    /* border: 1px solid black; */
    padding: 5px;
    width: 300px;
    margin-bottom:10px ;
    background-color:var(--main-clr-4) ;
    color: var(--main-clr-0);
    
}

.book-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-actions{
    display: flex;
    justify-content: center;
}